body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:hover{
    color: orange;
}

input, textarea {
    width: 50%  
}

.logo{
    width: 300px;
}

ul, li {
    display: inline;
}

section {
    text-align: center;
    margin-top: 100px;
}

nav {
    font-size: larger;
}